<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTU SGPA Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="heading d-flex align-items-center justify-content-center p-1">
        <h2>VTU IV Sem SGPA Calculator</h2>
    </div>

    <div class="container d-flex align-items-center justify-content-center my-3 w-50 mx-auto p-3 rounded" id="main-content">
        <form action="/" method="post">

            <div class="row my-3">
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject1:-21**42</label>
                    <input type="number" name="subject1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject2:-21**43</label>
                    <input type="number" name="subject2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject3:-21**44</label>
                    <input type="number" name="subject3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject4:-21**L46</label>
                    <input type="number" name="subject4" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject5:-21**L481</label>
                    <input type="number" name="subject5" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject6:-21KBK37/21CIP37</label>
                    <input type="number" name="subject6" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject7:-21MAT41</label>
                    <input type="number" name="subject7" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject8:-21INT49</label>
                    <input type="number" name="subject8" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject9:-21UH49</label>
                    <input type="number" name="subject9" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-sm-6 my-2">
                    <label for="exampleInputEmail1" class="form-label">Subject10:-21IBE45</label>
                    <input type="number" name="subject10" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
            </div>

           <div class="d-flex justify-content-center" id="button" >
            <button type="submit" class="btn btn-primary my-2">Submit</button>
           </div>

          </form>

    </div>
    <div class="container mx-5">
        <h4 class="text-center">
            <%= result %>
        </h4>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <footer>
            &copy;Made with &hearts; by Anjishnu Kumar
        </footer>

    </div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
